<div class="home-msg text-center container-fluid">
    <h1>Welcome to Devmatch</h1>
    <h3>A Meeting point for Developers and Entrepreneurs</h3>
</div>

<div class="container home-signup-links">
    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <h2 class="text-center">Basic Membership</h2>
                <h4>Sign up for the Basic plan and get basic access to the community</h4>
                <%= link_to 'Sign up with Basic Plan', '#', class: 'btn btn-primary btn-large btn-block' %>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well">
                <h2 class="text-center">Pro Membership</h2>
                <h4>Sign up for the Pro Plan at $10/month for full, unlimited access</h4>
                <br>
                <%= link_to 'Sign up with Pro Plan', '#', class: 'btn btn-success btn-large btn-block' %>
            </div>
        </div>
    </div>
</div>